<h1> Dates Page </h1>

<div class="show-container">
<div class="show-title">
<% @meetings.each do |meeting| %>

<p>  <%= link_to "#{meeting.requester.name} and #{meeting.requestie.name} at #{meeting.location.name}", meeting_path(meeting) %><br>
    <%= "#{meeting.time_nice}" %><br>
      Status:  <%= meeting.status %> </p>

<% end %>

<h3> <%= link_to "Create New Date", new_meeting_path %> </h3>
</div>
</div>