

<br>

<div class="home-bio"><h1> Welcome to Pet Playdate </h1>

<h3> New York City's first Social Networking site for Pets and their owners </h3>

<p> Only 40% of New York pets see other pets at least once a week. We want to make sure that number never drops below 100%.
</p>
<p>Pets are social animals and love to hang out with other pets whenever possible</p>
<p> We understand a New York pet owner's life is busy and you can't always rely on your local park for new petmates to play with. </p>

<img src="https://images.pexels.com/photos/46024/pexels-photo-46024.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
<p>With Pet Playdate you can search for pets local to your areas and choose a suitable companion to arrange a playdate with. </p>
<img src="https://images.pexels.com/photos/6070607/pexels-photo-6070607.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
<p>Simply pick a pet, message their owner, confirm a time and place to hang out and your pet will be having fun in no time.</p>

<p>We know you're your pet's best friend - but they can always have a few more!
</p>

</div>


<div class="home-about"><h3> About us: </h3>

<p>Founded in December 2020 by two pet lovers, Adam Shilling and Jason Jordan, in New York. </p>

</div>

<!-- DELETE BELOW THIS LINE BEFORE TUESDAY -->

<div class="dev">
<br><br>Dev LIST OF USERS DELETE BEFORE TUESDAY Users:<% @users.each do |user| %>
 <h3><%= link_to user.name, user_path(user) %></h3>
 <% end %>
</div>