
<section class="hero">
<div class="hero-inner">
        <a href="#" class="btn"><img src= "https://www.freelogodesign.org/file/app/client/thumb/3fbf174c-c555-4d1c-b145-f1099de24191_200x200.png?1607351240389"></a>
    <h1>Pet Playdate</h1>
    <h2>Why should your pet's only bestfriend be you?</h2>
</div>
</section>
<main>
</main>
<div class="home-bio"><h1>Pet Playdate </h1>

<h3> New York City's first Social Networking site for Pets and their owners </h3>

<p> Only 40% of New York pets see other pets at least once a week. We want to make sure that number never drops below 100%
</p>
<img src="https://www.pawculture.com/uploads/versions/dog-playdate-environment---x----670-440x---.jpg" class="image-rounded">
<p>Pets are social animals and love to hang out with other pets whenever possible</p>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0jp0Mb7pML3brthBQmgbdMNCFKf23oxjLhg&usqp=CAU" class="image-rounded">
    <p> We understand a New York pet owner's life is busy and you can't always rely on your local park for new petmates to play with </p>

<img src="https://images.pexels.com/photos/46024/pexels-photo-46024.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" class="image-rounded">
<p>With Pet Playdate you can search for pets local to your areas and choose a suitable companion to arrange a playdate with </p>
<img src="https://images.pexels.com/photos/6070607/pexels-photo-6070607.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="image-rounded">
<p>Simply pick a pet, message their owner, confirm a time and place to hang out and your pet will be having fun in no time</p>
<img src="https://images.ctfassets.net/cnu0m8re1exe/7sLmeD1tcL4UoIm0BjNaLh/22a9f42a4315361db96470f50b178e86/Dog-and-Cat.jpg?w=650&h=433&fit=fill" class="image-rounded">
<p>We know you're your pet's best friend - but they can always have a few more!
</p>

</div>


<div class="home-about"><h3><span>About us: </h3></span> 

<p>Founded in December 2020 by two pet loving web developers, Adam Shilling and Jason Jordan, in New York, NY </p>

</div>

<!-- DELETE BELOW THIS LINE BEFORE TUESDAY -->

<div class="dev">
<br><br>Dev LIST OF USERS DELETE BEFORE TUESDAY Users:<% @users.each do |user| %>
 <h3><%= link_to user.name, user_path(user) %></h3>
 <% end %>
</div>