<% if flash[:errors] %>

  <% if flash[:errors].is_a?(String) %>
    <%= flash[:errors] %>
  <% else %>
  <ul>
  <% flash[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <% end %>
<% end %>

