
 
  <br>
  <div class="ol-md-12">

    <!-- we'll configure this to compose new conversations later -->
    <!-- <div class="nav"> -->
    <br><br><br>
    <div class ="mail-banner">
    <ul class="mail-banner">
    <li><%= link_to "Compose", new_conversation_path, class: "btn btn-success" %> </li>
    </ul>
    </div>
    
  </div>

  

      <!-- individual conversations will show here -->
<div class ="mail-banner">
  <%= render 'mailbox/folders' %> 
</div>

<br><br><br><br>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="mail-container">  <!-- OUR CSS IS HERE ON THIS LINE -->
        <!-- individual conversations will show here -->
          <% if is_conversation %>
            <%= render 'conversations/form' %>
            <% else %>
            <!--place holder --->
            <%= render partial: 'conversations/conversation', collection: messages %>
          <% end %>      
          </div> <!-- ENDS HERE -->
        </div>
    </div>






