   <div class="logo-banner">
    <h1><img src="https://www.freelogodesign.org/file/app/client/thumb/3fbf174c-c555-4d1c-b145-f1099de24191_200x200.png?1607351240389"> </h1>
    <h3> Why Should Your Pet's Only Bestfriend be You? </h3>
    </div>

 <div class="new-container">
<%= render 'form' %>
</div>